<!-- Main Navigation Start -->
<nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
  <div class="container"><a class="navbar-brand" href="#">EXPO</a><button data-toggle="collapse" class="navbar-toggler"
      data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
        class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navcol-1">
      <ul class="nav navbar-nav mr-auto">
        <li class="nav-item" role="presentation"><a class="nav-link active" href="#">Home</a></li>
        <li class="nav-item" role="presentation"><a class="nav-link" href="#">About Us</a></li>
        <li class="nav-item" role="presentation"><a class="nav-link" href="#">Shop</a></li>
        <li class="nav-item" role="presentation"><a class="nav-link" href="#">Contact Us</a></li>
      </ul><span class="navbar-text actions"> <a class="nav-action" href="#"><i class="fa fa-star"></i>My
          Wishlist</a><a class="nav-action" href="#"><i class="fa fa-shopping-cart"></i>My Cart<span
            class="nav-cart-count">0</span></a>
      </span>
    </div>
  </div>
</nav>
<!-- Main Navigation End -->