<!-- Popular Items Start -->
<div class="text-center setion-heading">
  <h2 class="text-center">Popular Items</h2>
  <div>
    <div class="container"></div>
  </div>
  <div class="row">
    <div class="col-md-4 product-card"><a href="#"><img class="img-fluid" style="height:auto;"
          src="../../assets/img/nike_sb_stefan_janoski_gum_sole.jpg"></a>
      <h3 class="product-title">Item #1<br></h3>
      <p class="text-secondary product-detail">Aenean tortor est, vulputate quis leo in, vehicula rhoncus
        lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo
        suscipit id. </p><a class="h4" href="#"><i class="fa fa-arrow-circle-right"></i></a>
    </div>
    <div class="col-md-4 product-card"><a href="#"><img class="img-fluid" style="height:auto;"
          src="../../assets/img/nike_sb_stefan_janoski_gum_sole.jpg"></a>
      <h3 class="product-title">Item #2<br></h3>
      <p class="text-secondary product-detail">Aenean tortor est, vulputate quis leo in, vehicula rhoncus
        lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo
        suscipit id. </p><a class="h4" href="#"><i class="fa fa-arrow-circle-right" style="margin-left:23px;"></i></a>
    </div>
    <div class="col-md-4 product-card"><a href="#"><img class="img-fluid" style="height:auto;"
          src="../../assets/img/nike_sb_stefan_janoski_gum_sole.jpg"></a>
      <h3 class="product-title">Item #3<br></h3>
      <p class="text-secondary product-detail">Aenean tortor est, vulputate quis leo in, vehicula rhoncus
        lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo
        suscipit id. </p><a class="h4" href="#"><i class="fa fa-arrow-circle-right" style="margin-left:23px;"></i></a>
    </div>
  </div>
</div>
<!-- Popular Items End -->